@import 'tailwindcss';
@import './quill.css';

@theme {
  --font-family-sans: 'Geist', ui-sans-serif, system-ui, sans-serif;
  --font-family-display: 'Mrs Sheppards', cursive;
  --font-family-geist: 'Geist', ui-sans-serif, system-ui, sans-serif;
  --font-family-mrs-sheppards: 'Mrs Sheppards', cursive;
}

html,
html.swal2-shown.swal2-height-auto,
body,
body.swal2-shown.swal2-height-auto,
#root,
#provider {
  height: 100% !important;
  overflow: hidden !important;
}

* {
  font-family: var(--font-family-sans);
}

button {
  cursor: pointer !important;
}

button svg,
button span {
  display: inline-block !important;
  vertical-align: middle !important;
}
button span + svg {
  margin-inline-end: 0.25rem !important;
}
button span {
  line-height: 0.95em;
}

body {
  font-size: 16px;
  font-family: var(--font-family-sans);
  background-color: var(--color-gray-400);
}

.ag-root-wrapper {
  border-radius: 0;
}

.ag-root-wrapper .ag-row .ag-cell {
  display: flex;
  align-items: center;
}
