@import "tailwindcss";

@theme {
  --font-family-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-family-display: "Fascinate Inline", cursive;
  --font-family-geist: "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-family-fascinate: "Fascinate Inline", cursive;
}

html,
body,
#root,
#provider {
  height: 100%;
}

* {
  font-family: var(--font-family-sans);
}

body {
  font-size: 16px;
  font-family: var(--font-family-sans);
  background-color: var(--color-gray-400);
}

.ag-root-wrapper {
  border-radius: 0;
}
